body {
  margin: 0;
  background-color: #70c5ce;
  font-family: sans-serif;
  overflow: hidden;
}

#game_container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url("assets/j2.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
}

#bird {
  width: 70px;
  height: 60px;
  z-index: 0;
  position: absolute;
  top: 20%;
  left: 40%;
  background: url("assets/flappy\ bird.png") no-repeat center center;
  background-size: cover;
  z-index: 1;

  transform-origin: center;
  transition: transform 0.05s linear;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 48px;
  font-family: "Cal Sans";
  z-index: 3;
  text-shadow: black 4px 4px;
  transition: ease-in-out;
}

#start-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: solid 5px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  width: 300px;
  height: 100px;
  transition: 1s ease-in-out;
}

#start-btn:hover {
  background-color: #218838;
  transition: ease-in-out 0.5s;
}

.pipe {
  position: absolute;
  width: 60px;
  background: url("assets/FlappyBirdPipes.jpg") repeat-y center top;
  z-index: 2;
}

.top-pipetop {
  top: 0;
  border-bottom: 5px solid darkgreen;
  rotate: 180deg;
}

.bottom-pipe {
  border-top: 5px solid darkgreen;
}

.endBox {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 700px;
  height: 300px;
  background-color: #3d823e ;
  z-index: 3;
  border: solid 10px;
  transition: 1s ease-in-out;
}

.endBoxText {
  position: absolute;
  top: 37%;
  left: 42%;
  width: 700px;
  height: 300px;
  z-index: 3;
  font-size: 65px;
  transition: 1s ease-in-out;
}

#difficulty {
  position: absolute;
  top: 200%;
  right: 35%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  z-index: 3;
  transition: 1s ease-in-out;
  background: #855e3e;
  border: solid 5px;
}